<h1>Todos#active</h1>

<section class="todo-container">

  <%= button_to "Completed", {action: "completed"}, method: :get %>
  <%= button_to "All", {action: "index"}, method: :get %>

  <table>
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th colspan=3></th>
    </tr>
    <% @todos.each do |task| %>
    <tr>
      <td><%= task.description %></td>
      <td><%= task.completed %></td>
      <td><%= button_to "Edit", {action: "edit", id: task.id}, method: :get %></td>
      <td><%= button_to "Delete", {action: "destroy", id: task.id}, method: :delete %></td>
      <td><%= button_to "Complete", {action: "update", id: task.id, completed: true}, method: :put %></td>

    </tr>
    <% end %>
  </table>

  <section class="new-todo">
    <%= form_for @todo do |f| %>

    <%= f.label :description %><br>
    <%= f.text_area :description %><br>

    <%= f.submit %>

    <% end %>

  </section>

</section>
