<h1>Todos#index</h1>


  <section>
    <input id="new_todo" type="text" name="description"/>

  </section>

<section class="todo_container">

  <%= button_to "Completed", {action: "completed"}, method: :get %>
  <%= button_to "Active", {action: "active"}, method: :get %>
  <table class="todo_list">
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th colspan=3></th>
    </tr>
    <% @todos.each do |task| %>
    <tr id ="<%= task.id %>">
      <td class="todo_edit"><%= task.description %></td>
      <td><%= task.completed %></td>
      <td><%= button_to "Edit", {action: "edit", id: task.id}, method: :get %></td>
      <td><%= button_to "Delete", {action: "destroy", id: task.id}, method: :delete %></td>
      <td><%= button_to "Complete", {action: "update", id: task.id, completed: true}, method: :put %></td>

    </tr>
    <% end %>
  </table>


</section>
